$cWhite: white;
$cBlack: black;
$cSubTitle: #535353;
$cBgGray: #eaebe6;
$cWineRed: #904669;
$cMain: #007786;
$cContentBg: #c7f9ff;
$cMenuClose: $cBlack;
$cMenuOpen: $cBlack;
$contentMaxWidth: 1070px;
$navHeight: 100px;
$maxWidth: 1070px;

